<div layout="row" flex>

  <div layout="column">
    <md-sidenav md-component-id="left" md-is-locked-open="true">
      <md-subheader class="md-no-sticky">Collections</md-subheader>

      <md-content ng-show="collectionsCtrl.loading" >
        <md-progress-circular md-mode="indeterminate"></md-progress-circular>
      </md-content>

      <md-content ng-hide="collectionsCtrl.loading" ng-repeat="collection in collectionsCtrl.collections">
        <md-button ui-sref="mwv.collections.documents({collection: collection})"
          class="md-primary">{{ collection }}</md-button>
      </md-content>
    </md-sidenav>
  </div>

  <div layout="column" ui-view="documents" flex></div>
</div>
