<md-toolbar>
  <div class="md-toolbar-tools">
    <!-- <md-button class="md-icon-button" aria-label="Settings">
      <i class="material-icons">menu</i>
    </md-button> -->
    <h2><span>Mongo Web View</span></h2>
    <!-- <span flex></span>
    <md-button class="md-icon-button" aria-label="Favorite">
      <i class="material-icons">favorite</i>
    </md-button>
    <md-button class="md-icon-button" aria-label="More">
      <i class="material-icons">more_vert</i>
    </md-button> -->
  </div>
</md-toolbar>
